/*variables CSS*/
:root {
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd982;
    --white: #f8f8f8;
    --black: #1d1c1c;
}

* {
    font-family: 'Quicksand', sans-serif;
}
